<% content_for :title, "Editing grade curricular" %>

<h1>Editing grade curricular</h1>

<%= render "form", grade_curricular: @grade_curricular %>

<br>

<div>
  <%= link_to "Show this grade curricular", @grade_curricular %> |
  <%= link_to "Back to grade curriculars", grades_curriculares_path %>
</div>
