<p style="color: green"><%= notice %></p>

<% content_for :title, "Grade curriculars" %>

<h1>Grade curriculars</h1>

<div id="grades_curriculares">
  <% @grades_curriculares.each do |grade_curricular| %>
    <%= render grade_curricular %>
    <p>
      <%= link_to "Show this grade curricular", grade_curricular %>
    </p>
  <% end %>
</div>

<%= link_to "New grade curricular", new_grade_curricular_path %>
