<% content_for :title, "New grade curricular" %>

<h1>New grade curricular</h1>

<%= render "form", grade_curricular: @grade_curricular %>

<br>

<div>
  <%= link_to "Back to grade curriculars", grades_curriculares_path %>
</div>
