<% content_for :title, "Editing metodologia" %>

<h1>Editing metodologia</h1>

<%= render "form", metodologia: @metodologia %>

<br>

<div>
  <%= link_to "Show this metodologia", @metodologia %> |
  <%= link_to "Back to metodologias", metodologias_path %>
</div>
