<div class="row">
  <div class="col-12 col-lg-9">
    <%= f.input :descricao, input_html: { class: "keyup", disabled: local_assigns[:disabled] } %>
  </div>
  <div class="col-12 col-lg-3">
    <%= f.input :codigo, input_html: { class: "keyup", disabled: local_assigns[:disabled] } %>
  </div>
  <div class="col-12 col-lg-5">
    <%= f.association :area, input_html: { class: "keyup choice", disabled: local_assigns[:disabled] } %>
  </div>
  <div class="col-12 col-lg-7">
    <%= f.association :subarea, input_html: { class: "keyup choice", disabled: local_assigns[:disabled] } %>
  </div>
</div>
