<div class="page-header">
  <div class="page-block">
    <div class="row align-items-center">
      <div class="col-md-12">
        <ul class="breadcrumb">
          <% if params[:controller] != "home" %>
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item" aria-current="page"><%= page_header_title %></li>
            <li class="breadcrumb-item" aria-current="page"><%= page_header_action %></li>
          <% else %>
            <li class="breadcrumb-item" aria-current="page"><%= page_header_title %></li>
          <% end %>
        </ul>
      </div>
      <div class="col-md-12">
        <div class="page-header-title">
          <h2 class="mb-0"><%= page_header_title %></h2>
        </div>
      </div>
    </div>
  </div>
</div>