<nav class="pc-sidebar">
  <div class="navbar-wrapper">
    <div class="m-header">
      <a href="/" class="b-brand text-primary">
        <img src="/layout/assets/img/LOGO-SGHEP.png" alt="Logo SGHEP" class="logo-img" style="height: 90px; width: auto; margin-left: -5px;">
        <!--span class="badge bg-light-success rounded-pill ms-2 theme-version">v1.0.0</span-->
      </a>
    </div>
    <div class="navbar-content pc-trigger simplebar-scrollable-y" data-simplebar="init">
      <div class="simplebar-wrapper" style="margin: -18px 0px -10px;">
        <div class="simplebar-height-auto-observer-wrapper">
          <div class="simplebar-height-auto-observer"></div>
        </div>
        <div class="simplebar-mask">
          <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
            <div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content" style="height: 100%; overflow: hidden scroll;">
              <div class="simplebar-content" style="padding: 18px 0px 10px;">
                <div class="card pc-user-card">
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <div class="flex-shrink-0"><img src="/layout/assets/img/perfil-vitoria.jpeg" alt="user-image" class="user-avtar wid-45 rounded-circle"></div>
                      <div class="flex-grow-1 ms-3 me-2">
                        <h6 class="mb-0">Vitória</h6>
                        <small>Administratora</small>
                      </div>
                    </div>
                  </div>
                </div>
                <ul class="pc-navbar" style="display: block;">
                  <li class="pc-item pc-caption">
                    <label>HORÁRIO</label>
                    <svg class="pc-icon"><use xlink:href="#custom-presentation-chart"></use></svg>
                  </li>
                  <li class="pc-item">
                    <a href="/aulas" class="pc-link">
                      <span class="pc-micon">
                        <img src="/icons/clock.png" alt="Aulas" width="22" height="22">
                      </span>
                      <span class="pc-mtext" data-i18n="Aulas">Aulas</span>
                    </a>
                  </li>
                  <li class="pc-item">
                    <a href="/turmas" class="pc-link">
                      <span class="pc-micon">
                        <img src="/icons/users-group.png" alt="Turmas" width="22" height="22">
                      </span>
                      <span class="pc-mtext" data-i18n="Turmas">Turmas</span>
                    </a>
                  </li>
                  <!--------------------------------------------------------------------------->
                  <li class="pc-item pc-caption">
                    <label>PROFESSOR</label>
                    <svg class="pc-icon"><use xlink:href="#custom-layer"></use></svg>
                  </li>
                  <li class="pc-item">
                    <a href="/users" class="pc-link">
                      <span class="pc-micon">
                        <img src="/icons/user.png" alt="Usuários" width="22" height="22">
                      </span>
                      <span class="pc-mtext" data-i18n="Professores">Professores</span>
                    </a>
                  </li>
                  <!------------------------------------------------------------------------------>
                  <li class="pc-item pc-caption">
                    <label>INSTITUIÇÃO</label>
                    <svg class="pc-icon"><use xlink:href="#custom-box-1"></use></svg>
                  </li>
                  <li class="pc-item">
                    <a href="/ambientes" class="pc-link">
                      <span class="pc-micon">
                        <img src="/icons/chalkboard (1).png" alt="Ambientes" width="22" height="22">
                      </span>
                      <span class="pc-mtext" data-i18n="Ambientes">Ambientes</span>
                    </a>
                  </li>
                  <!--li class="pc-item">
                    <a href="/disponibilidade_salas" class="pc-link">
                      <span class="pc-micon">
                        <img src="/icons/home-check.png" alt="Disponibilidade de Salas" width="22" height="22">
                      </span>
                      <span class="pc-mtext" data-i18n="Disponibilidade de Salas">Disponibilidade de Salas</span>
                    </a>
                  </li-->
                  <li class="pc-item">
                    <a href="/cursos" class="pc-link">
                      <span class="pc-micon">
                        <img src="/icons/school (1).png" alt="Cursos" width="22" height="22">
                      </span>
                      <span class="pc-mtext" data-i18n="Cursos">Cursos</span>
                    </a>
                  </li>
                  <li class="pc-item">
                    <a href="/grades_curriculares" class="pc-link">
                      <span class="pc-micon">
                        <img src="/icons/book-2.png" alt="Grades Curriculares" width="22" height="22">
                      </span>
                      <span class="pc-mtext" data-i18n="Grades Curriculares">Grades Curriculares</span>
                    </a>
                  </li>
                  <li class="pc-item">
                    <a href="/disciplinas" class="pc-link">
                      <span class="pc-micon">
                        <img src="/icons/books.png" alt="Disciplinas" width="22" height="22">
                      </span>
                      <span class="pc-mtext" data-i18n="Disciplinas">Disciplinas</span>
                    </a>
                  </li>
                  <li class="pc-item">
                    <a href="/matrizes_curriculares_aplicadas" class="pc-link">
                      <span class="pc-micon">
                        <img src="/icons/layout-dashboard.png" alt="Matrizes Curriculares" width="22" height="22">
                      </span>
                      <span class="pc-mtext" data-i18n="Matrizes Curriculares">Matrizes Curriculares</span>
                    </a>
                  </li>
                  <%# <li class="pc-item pc-caption"><label>TURMA</label> <svg class="pc-icon"><use xlink:href="#custom-element-plus"></use></svg></li> %>
                  <%# <li class="pc-item"><a href="../forms/form2_wizard.html" class="pc-link"><span class="pc-micon"><svg class="pc-icon"><use xlink:href="#custom-password-check"></use></svg> </span><span class="pc-mtext" data-i18n="wizard">wizard</span></a></li> %>
                  <!--------------------------------------------------------------------------->
                  <li class="pc-item pc-caption">
                    <label>TABELAS REFERENCIAIS</label>
                    <svg class="pc-icon"><use xlink:href="#custom-text-align-justify-center"></use></svg>
                  </li>
                  <!--------------------------------------------------------------------------->
                  <li class="pc-item pc-hasmenu">
                    <a href="#!" class="pc-link">
                      <span class="pc-micon">
                        <img src="/icons/blocks.png" alt="Referenciais" width="22" height="22">
                      </span>
                      <span class="pc-mtext" data-i18n="Referenciais">Referenciais</span>
                      <span class="pc-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg></span></a>
                    <ul class="pc-submenu" style="display: none;">
                      <li class="pc-item"><a class="pc-link" href="/areas" data-i18n="Áreas">Áreas</a></li>
                      <li class="pc-item"><a class="pc-link" href="/curriculos_ementas" data-i18n="Curriculos Ementas">Currículos Ementas</a></li>
                      <li class="pc-item"><a class="pc-link" href="/etapas" data-i18n="Etapas">Etapas</a></li>
                      <li class="pc-item"><a class="pc-link" href="/instituicoes" data-i18n="Instituições">Instituições</a></li>
                      <!--li class="pc-item"><a class="pc-link" href="/metodologias" data-i18n="Metodologias">Metodologias</a></li-->
                      <li class="pc-item"><a class="pc-link" href="/modalidades" data-i18n="Modalidades">Modalidades</a></li>
                      <li class="pc-item"><a class="pc-link" href="/niveis" data-i18n="Níveis">Níveis</a></li>
                      <li class="pc-item"><a class="pc-link" href="/tipos_contratos" data-i18n="Tipos de Contratos">Tipos de Contratos</a></li>
                      <li class="pc-item"><a class="pc-link" href="/turnos" data-i18n="Turnos">Turnos</a></li>
                      <li class="pc-item"><a class="pc-link" href="/subareas" data-i18n="Subárea">Subárea</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="simplebar-placeholder" style="width: 280px; height: 2841px;"></div>
      </div>
      <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
        <div class="simplebar-scrollbar" style="width: 0px; display: none;"></div>
      </div>
      <div class="simplebar-track simplebar-vertical" style="visibility: visible;">
        <div class="simplebar-scrollbar" style="height: 1427px; transform: translate3d(0px, 0px, 0px); display: block;"></div>
      </div>
    </div>
  </div>
</nav>
<style>
  .pc-link {
    display: flex;
    align-items: center; /* Alinha os itens verticalmente */
    gap: 8px; /* Adiciona um espaçamento entre o ícone e o texto */
  }

  .pc-micon img {
    display: block; /* Evita espaçamentos extras */
  }
</style>