<div class="row">
  <div class="col-12">
    <%= f.association :curriculo_ementa, input_html: { class: "keyup choice", disabled: local_assigns[:disabled] } %>
  </div>
  <div class="col-12">
    <%= f.association :disciplina, input_html: { class: "keyup choice", disabled: local_assigns[:disabled] } %>
  </div>
</div>
