<!-- Footer -->
<div class="navbar navbar-sm border-top">
  <div class="container-fluid d-flex justify-content-end">
    <ul class="nav">
      <li class="nav-item" data-bs-popup="tooltip" data-bs-placement="top" id="left" data-bs-original-title="Instituto Brasileiro de Tecnologia">
        <a class="navbar-nav-link navbar-nav-link-icon rounded" target="_blank">
          <div class="d-flex align-items-center mx-md-1">
            <span class="text-muted">
              SGHEP &copy;
              <%= DateTime.now.year %>
            </span>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
<!-- /footer -->
