<div class="navbar navbar-sm shadow">
  <div class="container-xl">
    <div class="flex-fill overflow-auto overflow-lg-visible scrollbar-hidden">
      <ul class="nav gap-1 flex-nowrap flex-lg-wrap">
        <li class="nav-item">
          <a href="/" class="navbar-nav-link rounded">
            <i class="ph-house"></i>
          </a>
        </li>
        <li class="nav-item nav-item-dropdown-lg dropdown">
          <a href="#" class="navbar-nav-link dropdown-toggle rounded" data-bs-toggle="dropdown">
            Entidades
          </a>
          <div class="dropdown-menu">
            <a href="/g_paises" class="dropdown-item rounded">Países</a>
          </div>
        </li>
        <li class="nav-item nav-item-dropdown-lg dropdown">
          <a href="#" class="navbar-nav-link dropdown-toggle rounded" data-bs-toggle="dropdown">
            Referenciais
          </a>
          <div class="dropdown-menu">
            <a href="/g_paises" class="dropdown-item rounded">Países</a>
            <a href="/g_estados" class="dropdown-item rounded">Estados</a>
            <a href="/g_municipios" class="dropdown-item rounded">Municípios</a>
            <a href="/g_localidades" class="dropdown-item rounded">Localiddes</a>
            <a href="/g_tipos_ruas" class="dropdown-item rounded">Tipos ruas</a>
          </div>
        </li>
        <li class="nav-item nav-item-dropdown-lg dropdown ms-auto">
          <a href="#" class="navbar-nav-link dropdown-toggle rounded" data-bs-toggle="dropdown">
            <i class="ph-arrows-clockwise me-2"></i>
            Switch
          </a>
          <div class="dropdown-menu dropdown-menu-end">
            <div class="dropdown-submenu dropdown-submenu-start">
              <a href="#" class="dropdown-item dropdown-toggle">
                <i class="ph-layout me-2"></i>
                Layouts
              </a>
              <div class="dropdown-menu">
                <a href="../../layout_7/full/index.html" class="dropdown-item disabled">
                  <span class="opacity-75 fs-sm ms-auto">Desenvolvimento</span>
                </a>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
