<div class="page-header">
  <div class="d-flex">
    <h4 class="page-title my-0"><%= page_header_title %></h4>
    <a href="#page_header" class="btn btn-light align-self-center collapsed d-lg-none border-transparent rounded-pill p-0 ms-auto" data-bs-toggle="collapse">
      <i class="ph-caret-down collapsible-indicator ph-sm m-1"></i>
    </a>
  </div>
</div>