<div class="row">
  <div class="col-12 col-lg-9">
    <%= f.input :descricao, input_html: { class: "keyup", disabled: local_assigns[:disabled] } %>
  </div>
  <div class="col-12 col-lg-3">
    <%= f.input :ano_documento, input_html: { class: "keyup", disabled: local_assigns[:disabled] } %>
  </div>
</div>
