<% content_for :title, "Editing curriculo ementa" %>

<h1>Editing curriculo ementa</h1>

<%= render "form", curriculo_ementa: @curriculo_ementa %>

<br>

<div>
  <%= link_to "Show this curriculo ementa", @curriculo_ementa %> |
  <%= link_to "Back to curriculo ementa", curriculos_ementas_path %>
</div>
