<p style="color: green"><%= notice %></p>

<% content_for :title, "Curriculo ementa" %>

<h1>Curriculo ementa</h1>

<div id="curriculos_ementas">
  <% @curriculos_ementas.each do |curriculo_ementa| %>
    <%= render curriculo_ementa %>
    <p>
      <%= link_to "Show this curriculo ementa", curriculo_ementa %>
    </p>
  <% end %>
</div>

<%= link_to "New curriculo ementa", new_curriculo_ementa_path %>
