<% content_for :title, "New curriculo ementa" %>

<h1>New curriculo ementa</h1>

<%= render "form", curriculo_ementa: @curriculo_ementa %>

<br>

<div>
  <%= link_to "Back to curriculo ementa", curriculos_ementas_path %>
</div>
