<% content_for :title, "Editing matriz curricular aplicada" %>

<h1>Editing matriz curricular aplicada</h1>

<%= render "form", matriz_curricular_aplicada: @matriz_curricular_aplicada %>

<br>

<div>
  <%= link_to "Show this matriz curricular aplicada", @matriz_curricular_aplicada %> |
  <%= link_to "Back to matriz curricular aplicadas", matrizes_curriculares_aplicadas_path %>
</div>
