<% content_for :title, "New matriz curricular aplicada" %>

<h1>New matriz curricular aplicada</h1>

<%= render "form", matriz_curricular_aplicada: @matriz_curricular_aplicada %>

<br>

<div>
  <%= link_to "Back to matriz curricular aplicadas", matrizes_curriculares_aplicadas_path %>
</div>
