<div class="row">

  <div class="col-12">
  
    <%= f.association :user, input_html: { class: "keyup", disabled: local_assigns[:disabled] } %>
  
  </div>

  <div class="col-12">
  
    <%= f.association :turno, input_html: { class: "keyup", disabled: local_assigns[:disabled] } %>
  
  </div>

  <div class="col-12">
  
    <%= f.input :dia, input_html: { class: "keyup", disabled: local_assigns[:disabled] } %>
  
  </div>

  <div class="col-12">
  
    <%= f.input :horario, input_html: { class: "keyup", disabled: local_assigns[:disabled] } %>
  
  </div>

</div>
