<% content_for :title, "Editing restricao" %>

<h1>Editing restricao</h1>

<%= render "form", restricao: @restricao %>

<br>

<div>
  <%= link_to "Show this restricao", @restricao %> |
  <%= link_to "Back to restricoes", restricoes_path %>
</div>
