<div class="row">
  <div class="col-12 col-lg-7">
    <%= f.input :descricao, input_html: { class: "keyup", disabled: local_assigns[:disabled] } %>
  </div>
  <div class="col-12 col-lg-5">
    <%= f.association :etapa, input_html: { class: "keyup ", disabled: local_assigns[:disabled] } %>
  </div>
</div>
