<% content_for :title, "Editing nivel" %>

<h1>Editing nivel</h1>

<%= render "form", nivel: @nivel %>

<br>

<div>
  <%= link_to "Show this nivel", @nivel %> |
  <%= link_to "Back to niveis", niveis_path %>
</div>
