<div class="row">
  <div class="col-12 col-lg-10">
    <%= f.input :descricao, input_html: { class: "keyup", disabled: local_assigns[:disabled] } %>
  </div>
  <div class="col-12 col-lg-2">
    <%= f.input :carga_horaria, input_html: { class: "keyup", disabled: local_assigns[:disabled] } %>
  </div>
</div>
