<div class="row">
  <div class="col-12">
    <%= f.association :ambiente, input_html: { class: "keyup choice", disabled: local_assigns[:disabled] } %>
  </div>
  <div class="col-12">
    <%= f.input :dia, input_html: { class: "keyup", disabled: local_assigns[:disabled] } %>
  </div>
  <div class="col-12">
    <%= f.input :horario_inicio, input_html: { class: "keyup", disabled: local_assigns[:disabled] } %>
  </div>
  <div class="col-12">
    <%= f.input :horario_fim, input_html: { class: "keyup", disabled: local_assigns[:disabled] } %>
  </div>
</div>
