<% content_for :title, "Editing etapa" %>

<h1>Editing etapa</h1>

<%= render "form", etapa: @etapa %>

<br>

<div>
  <%= link_to "Show this etapa", @etapa %> |
  <%= link_to "Back to etapas", etapas_path %>
</div>
