<p style="color: green"><%= notice %></p>

<% content_for :title, "Etapas" %>

<h1>Etapas</h1>

<div id="etapas">
  <% @etapas.each do |etapa| %>
    <%= render etapa %>
    <p>
      <%= link_to "Show this etapa", etapa %>
    </p>
  <% end %>
</div>

<%= link_to "New etapa", new_etapa_path %>
